.page.theme_light {
    --bacground-color: #FFF1F7;
    --header-title: #FFC2E6;
    --text-shadow: #FF8DCB;
    --header-nav: #353430;
    --heading-box: #FF8DCB;
    --heading-text: #353430;
    --main-text: #353430;
    --main-title: #353430;
    --corners: #353430;
    --rec-text: #353430;

    --accent-text: IBM Plex mono;
    --bacground: url("../images/cover-image-light.png");
    --visibility: hidden;
}

@media (prefers-color-scheme: light) {
    :root {
        --bacground-color: #FFF1F7;
        --header-title: #FFC2E6;
        --text-shadow: #FF8DCB;
        --header-nav: #353430;
        --heading-box: #FF8DCB;
        --heading-text: #353430;
        --main-text: #353430;
        --main-title: #353430;
        --corners: #353430;
        --rec-text: #353430;

        --accent-text: IBM Plex mono;
        --bacground: url("../images/cover-image-light.png");
        --visibility: hidden;
    }
}
